@{
    ViewData["Title"] = "Home";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<div class="col-md-12">
    <div class="text-center" style="padding-top:150px;">
        <h2>Welcome to student portal!</h2>
        <p>Please <a href="Account/Login">click here</a> to register or login.</p>
    </div>
</div>
