@model Student.Web.Models.RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="col-md-10 col-md-offset-1">
    <div class="well">
        <table class="table table-bordered">
            <thead>
                <tr class="success">
                    <td colspan="2">
                        Register
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Email</td>
                    <td>
                        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", id = "txtEmail", placeholder = "Email" })
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        @Html.TextBoxFor(x => x.Password, new { @class = "form-control", id = "txtPassword", placeholder = "Password" })
                    </td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td>
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", id = "txtConfirmPassword", placeholder = "Confirm Password" })
                    </td>
                </tr>
                <tr class="success">
                    <td colspan="2">
                        <input type="button" id="btnSubmit" class="btn btn-success" value="Register" />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
